@import "wpec_quick_view_button_mixins.less";

.wpec_quick_view_ultimate_container{text-align:center;clear:both;width:100%;}
.wpec_quick_view_ultimate_container span{
	font:normal 14px Arial !important; color:#FFFFFF !important;	text-align:center !important;
	padding: 7px 17px !important;
}

.product_hover .wpec_quick_view_ultimate_container span.wpec_quick_view_ultimate_button{
	color:#FFFFFF;
	border: 1px solid #FFFFFF !important;border-radius: 3px 3px 3px 3px !important;-moz-border-radius: 3px 3px 3px 3px !important;-webkit-border-radius: 3px 3px 3px 3px !important;	background: #999999;
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#999999));
	background: -webkit-linear-gradient(#999999, #999999);
	background: -moz-linear-gradient(center top, #999999 0%, #999999 100%);
	background: -moz-gradient(center top, #999999 0%, #999999 100%);
	box-shadow: none !important ;-moz-box-shadow: none !important ;-webkit-box-shadow: none !important ;		opacity:0.5;
		filter:alpha(opacity=50);
}
.wpec_quick_view_ultimate_content_under{text-align:center;clear:both;display:block;width:100%;padding:10px 0px;}
.wpec_quick_view_ultimate_content_under a.wpec_quick_view_ultimate_under_link{
	font:bold 12px Arial !important; color:#000000 !important;	text-align:center !important;
}

.wpec_quick_view_ultimate_content_under a.wpec_quick_view_ultimate_under_link:hover{
	color:#999999 !important;
}
.wpec_quick_view_ultimate_content_under a.wpec_quick_view_ultimate_under_button{
	font:bold 12px Arial !important; color:#FFFFFF !important;	border: 1px solid #000000 !important;border-radius: 3px 3px 3px 3px !important;-moz-border-radius: 3px 3px 3px 3px !important;-webkit-border-radius: 3px 3px 3px 3px !important;	text-align:center !important;
	padding: 7px 8px !important;
	background: #000000 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)) !important;
	background: -webkit-linear-gradient(#000000, #000000) !important;
	background: -moz-linear-gradient(center top, #000000 0%, #000000 100%) !important;
	background: -moz-gradient(center top, #000000 0%, #000000 100%) !important;
}

