/*----------------------------------------------------------------
	Custom Editor Styles
----------------------------------------------------------------*/

#tinymce {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
	h1 { font-size: 34px; line-height: 40px; }
	h2 { font-size: 32px; line-height: 38px; }
	h3 { font-size: 30px; line-height: 36px; }
	h4 { font-size: 26px; line-height: 32px; }
	h5 { font-size: 22px; line-height: 28px; }
	h6 { font-size: 18px; line-height: 24px; }

.fw_100 { font-weight: 100; }
.fw_300 { font-weight: 300; }
.fw_400 { font-weight: 400; }
.fw_500 { font-weight: 500; }
.fw_600 { font-weight: 600; }
.fw_700 { font-weight: 700; }
.fw_800 { font-weight: 800; }
.fw_900 { font-weight: 900; }

.fs_12 { font-size: 12px; line-height: 18px; }
.fs_14 { font-size: 14px; line-height: 20px; }
.fs_16 { font-size: 16px; line-height: 24px; }
.fs_18 { font-size: 18px; line-height: 26px; }
.fs_20 { font-size: 20px; line-height: 28px; }
.fs_22 { font-size: 22px; line-height: 30px; }
.fs_24 { font-size: 24px; line-height: 32px; }
.fs_28 { font-size: 28px; line-height: 36px; }
.fs_30 { font-size: 30px; line-height: 38px; }
.fs_32 { font-size: 32px; line-height: 40px; }
.fs_36 { font-size: 36px; line-height: 44px; }
.fs_40 { font-size: 40px; line-height: 48px; }
.fs_44 { font-size: 44px; line-height: 52px; }
.fs_50 { font-size: 50px; line-height: 58px; }
.fs_56 { font-size: 56px; line-height: 64px; }
.fs_62 { font-size: 62px; line-height: 70px; }
.fs_68 { font-size: 68px; line-height: 76px; }

.f_roboto { font-family: 'Roboto', sans-serif; }
.f_robotoC { font-family: 'Roboto Condensed', sans-serif; }
.f_robotoS { font-family: 'Roboto Slab', serif; }