/* Buttons */
.btn.btn-primary {
  border: 1px solid @colorText;
  color: @colorText;
  padding-left: 2em;
  padding-right: 2em;
  background-color: transparent;
  text-decoration: none;
  &.btn-lg {
    border-width: 2px;
  }
  &:active, &:focus {
    background-color: transparent;
    color: @colorText;
  }
}
.btn.btn-default {
  background: @colorLightBrown;
  border-color: @colorLightBrown;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 2em;
  padding-right: 2em;
}

/* Horizontal rule */
.rule {
  position: relative;
  display: inline-block;
  background: @colorText;
  height: 1px;
  width: 80%;
  border: 0 none;
  margin-bottom: 3em;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: @colorText;
    position: absolute;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: @colorText;
  }

  &--light {
    background-color: @colorTextLight;
    /*#efddc3*/
    &:before {
      border-bottom-color: @colorTextLight;
    }
    &:after {
      border-top-color: @colorTextLight;
    }
  }
}

/* Quantity */
.quantity {
  position: relative;
  max-width: 4em;
  display: inline-flex;
  input[type=number] {
    flex: 1 40%;
    width: auto !important;
    min-width: 0;
    background-color: transparent;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    border: 0 none;
  }
  .increment, .decrement {
    background-color: transparent;
    border: 0 none;
    flex: 1;
    padding: 0;
  }
}

/* Pager */
.woocommerce .woocommerce-pagination .page-numbers {
  border: 0 none;

  li {
    border-right: 0 none;
  }

  .page-numbers {
    background-color: transparent;
    color: lighten(@colorBrown, 30%);

    &.current {
      color: @colorBrown;
      font-weight: bold;
    }
  }
}

/* Product list controls */
.products-view {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-notice {
    background-color: @colorBrown;
    flex-grow: 1;
    margin-right: 1em;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 0.2em 1em;
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  &-toggle {
    button {
      background-color: transparent;
    }
  }
}
