@font-face {
  font-family: 'Resistenza';
  src: url('../../themes/venus/fonts/resistenza.woff2') format('woff2'),
  url('../../themes/venus/fonts/resistenza.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@colorText: #583d36;
@colorTextLight: #f7c9aa;
@colorBrown: #61433d;
@colorDarkBrown: #37231e;
@colorLightBrown: #f6c494;
@colorLigherBrown: #fee9d2;
@fontComic: "Resistenza", serif;
@fontSlab: "Roboto Slab", Helvetica, Arial, sans-serif;
@imagePath: "../../themes/venus/images";
