@import "../../cosmos/less/style.less";
@import "config";
@import "components";

body {
  background: @colorLigherBrown;
  background-image: url("@{imagePath}/pattern-grains.png");
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-family: @fontSlab;
  color: @colorText;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Shadows Into Light Two', Times, serif;*/
  font-family: @fontComic;
  color: @colorDarkBrown;
}

a {
  &:hover, &:active, &:focus {
    color: white;
  }
}

a {
  color: @colorTextLight;
}

footer h3 {
  .fc_primary;
}

#wrapper {
  background-image: url("@{imagePath}/bg-tablecloth.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  .home & {
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  overflow: hidden;
  header {
    padding-top: 0;
  }
}

.head_controls {
  @media (min-width: 768px) {
    text-align: right;
  }
  p {
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.cart-guarantee {
  float: left;
  width: 48%;
  text-align: left;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.cart-info {
  padding: 20px 0;
  @media (min-width: 768px) {
    padding-top: 0;
  }
  &__user {
    a {
      color: @colorText;
    }
  }
  &__status {
    display: inline-block;
    background: url("@{imagePath}/pattern-wood-173x260.jpg");
    padding: 10px 20px;
    margin-left: 10px;
    font-weight: 400;
    @media (min-width: 768px) {
      margin-bottom: 30px;
      border-radius: 0 0 6px 6px;
    }

    i {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }

    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }
}

#logo {
  display: inline-block;
  width: auto;
}

.sidenav_close i {
  color: @colorTextLight;
  border: 0 none;
  border-radius: 0;
}

#navigation {
  margin-bottom: 2rem;
  &.slide-in {
    background-image: url("@{imagePath}/pattern-wood-173x260.jpg'");
    @media (min-width: 768px) {
      background-image: none;
    }
  }
  &.nav_bottom_border {
    background-color: transparent;
    border-bottom: 0 none;
  }
}

#menu-main-menu {
  padding: 14px 28px 10px;
  border-radius: 6px;
  background-color: @colorDarkBrown;
  @media (min-width: 768px) {
    background-image: url("@{imagePath}/pattern-wood-173x260.jpg'");
    border-bottom: 3px solid @colorDarkBrown;
  }
  .menu-item {
    text-align: center;

    a {
      border-left: 0 none;
      padding: 0;
      text-transform: initial;
      font-weight: 300;
      border-bottom: 2px solid transparent;
      color: @colorTextLight;
      display: inline-block;
      font-size: 16px;
      line-height: 1.8;
      @media (min-width: 768px) {
        line-height: 1.2;
        font-size: 14px;
      }
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
    &.active a {
      background-color: transparent;
      border-bottom-color: @colorTextLight;
      font-weight: bold;
    }
    &:last-child a {
      border-right: 0 none;
    }
  }
}

.banner {
  text-align: center;
  background-image: url("@{imagePath}/bg-fruitsnveg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  border-bottom: 4px solid @colorDarkBrown;
  background-size: 100% auto;
  padding-bottom: 15%;
  @media (min-width: 768px) {
    padding-top: 40px;
  }

  .hero {
    @media (min-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    h1 {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      @media (min-width: 768px) {
        max-width: 600px;
      }
    }
  }

  .award {
    display: inline-block;
    padding: 20px 10px;
    width: 30%;
    @media (min-width: 768px) {
      width: 150px;
    }
    @media (min-width: 1025px) {
      width: auto;
    }
  }
}

#mainContent {
  text-align: center;
  line-height: 1.8;

  .single &,
  .blog & {
    padding-right: 0;
  }
}

#content {
  position: relative;
  padding-top: 0;
  .home & {
    background-color: @colorLigherBrown;
    background-image: url("@{imagePath}/pattern-grains.png");
    padding-top: 60px;
  }
  .archive &,
  .page-template-page-postcode-search &,
  .page-template-default & {
    padding-top: 60px;
  }
}

.keypoints {
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 80px;
  @media (min-width: 768px) {
  }
}

.keypoint {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 20px;
  @media (min-width: 768px) {
    width: 16.6%;
    vertical-align: top;
  }

  h4 {
    font-size: 1.9rem;
    line-height: 1.4;
    margin: 2rem auto 0;
  }

  img {
    @media (min-width: 768px) {
      max-width: 80%;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }
  }
}

.delivery {
  margin-bottom: 10rem;

  .page-template-page-postcode-search & {
    margin-bottom: 3rem;
    margin-top: 5rem;
  }

  &-content {
    display: flex;
    background-color: @colorDarkBrown;
    background-image: url("@{imagePath}/pattern-wood-173x260.jpg");
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    border-radius: 6px;
    border-bottom: 3px solid @colorDarkBrown;

    @media (min-width: 768px) {
      height: auto;
      flex-direction: row;
    }
  }
  &-block {
    padding: 1rem;
    @media (min-width: 768px) {
      padding: 5rem 2rem;
    }

    h3 {
      margin-bottom: 0;
      color: @colorTextLight;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      margin-bottom: 1em;
      @media (min-width: 768px) {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.category-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.category {
  margin-left: 0;
  flex-basis: 100%;
  padding-bottom: 2%;
  pointer-events: all;
  list-style: none;
  @media (min-width: 768px) {
    flex-basis: 48%;
    padding-bottom: 1%;
  }

  h4 {
    color: #fff;
    padding: 10px 14px;
    text-align: left;
  }

  a {
    display: block;
    height: 180px;
    width: 100%;
    background-size: 100% auto;
    background-position: 50% 50%;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    @media (min-width: 1024px) {
      height: 250px;
    }
    @media (min-width: 1200px) {
      height: 300px;
    }

    &:hover img {
      transition: all 20s;
    }
  }

  a img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 100%;
    transition: all 1s;
  }

  &:nth-child(n+4) {
    @media (min-width: 768px) {
      padding-bottom: 0;
    }
  }

  &:nth-child(n+5) {
    padding-bottom: 0;
  }

  &:nth-child(1) {
    flex-basis: 58%;
    @media (min-width: 768px) {
      flex-basis: 30%;
    }
  }
  &:nth-child(2) {
    flex-basis: 40%;
    @media (min-width: 768px) {
      flex-basis: 20%;
    }
  }
  &:nth-child(4) {
    flex-basis: 100%;
    @media (min-width: 768px) {
      flex-basis: 51%;
    }
  }
  &:nth-child(5) {
    flex-basis: 56%;
    @media (min-width: 768px) {
      flex-basis: 26%;
    }
  }
  &:nth-child(6) {
    flex-basis: 42%;
    display: flex;
    @media (min-width: 768px) {
      flex-basis: 21%;
    }
    a {
      height: 48%;
      align-self: flex-start
    }
  }
  &:nth-child(7) {
    flex-basis: 42%;
    display: flex;
    margin-left: -44%;
    @media (min-width: 768px) {
      flex-basis: 21%;
      margin-left: -22%;
    }
    a {
      height: 48%;
      align-self: flex-end;
    }
  }

}

.farmers {
  @media (min-width: 768px) {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 1024px) {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  & &-content {
    background-image: url("@{imagePath}/pattern-wood-240x552.png");
    background-repeat: repeat-x;
    text-align: center;
    color: @colorTextLight;
    font-size: 14px;
    line-height: 1.6;
    height: auto;
    padding-top: 50px;
    background-size: auto 100%;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    @media (min-width: 768px) {
      background-size: auto 100%;
      padding-right: 15%;
      padding-left: 2%;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
      padding-left: 5%;
      padding-right: 8%;
    }
  }

  h3 {
    color: @colorTextLight;
    margin-bottom: 0;
  }

  &-image {
    position: relative;
    height: 400px;
    @media (min-width: 768px) {
      background-image: url("@{imagePath}/pattern-wood-240x552.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      position: relative;
      height: 480px;
    }
    @media (min-width: 768px) {
      height: 462px;
    }
    img {
      position: absolute;
      top: -100%;
      left: -100%;
      right: -100%;
      bottom: -100%;
      margin: auto;
      max-height: 80%;
      @media (min-width: 768px) {
        max-width: 500px;
        max-height: 999em;
      }
      @media (min-width: 1024px) {
        max-width: 480px;
      }
    }
  }

  .btn {
    border-color: @colorTextLight;
    color: @colorTextLight;
  }
}

.testimonials {
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
}

.testimonial {
  position: relative;
  z-index: 1;

  blockquote {
    border-left: 0 none;
    text-align: center;
    font-size: 16px;
    line-height: 1.4
  }
}

.rating {
  text-align: center;
  span {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 5px;
    background: url("@{imagePath}/icon-star.png") no-repeat;
    background-size: cover;
  }
}

.fruits {
  width: 30%;
  @media (min-width: 768px) {
    position: absolute;
    width: 17%;
    bottom: 30%;
  }
  .home & {
    @media (min-width: 768px) {
      width: 12%;
    }
  }
  &:after {
    content: '';
    padding-bottom: 130%;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &-left {
    float: left;
    @media (min-width: 768px) {
      left: 0;
    }
    &:after {
      background-image: url("@{imagePath}/image-fruits-left.png");
      background-position: 0 50%;
      left: 0;
    }
  }
  &-right {
    float: right;
    @media (min-width: 768px) {
      right: 0;
    }
    &:after {
      background-image: url("@{imagePath}/image-fruits-right.png");
      background-position: 100% 50%;
      right: 0;
    }
  }
}

footer {
  background-image: url("@{imagePath}/bg-soil.jpg");
  position: relative;
  font-weight: 300;
  font-size: 14px;

  &:before {
    content: '';
    width: 100%;
    height: 67px;
    display: block;
    background-image: url("@{imagePath}/bg-soilandgrass.jpg");
    position: absolute;
    top: 0;
  }

  h3 {
    color: white;
    text-align: center;
    margin: 60px auto 40px;
    a {
      text-decoration: underline;
    }
  }

  h4 {
    color: white;
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    font-weight: 300;
    font-size: 14px;
  }
}

.footer-newsletter {
  .wpcf7.formHolder {
    padding: 0;
  }
  .formHolder input.wpcf7-validates-as-required {
    background-color: #f8e4cd;
    padding: 8px 10px;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    border-radius: 3px;
  }

  .formHolder input.btn_submit {
    width: auto;
    background-color: #f8e4cd;
    color: @colorDarkBrown;
    border: 0 none;
    padding: 8px 30px;
    border-radius: 3px;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin: 20px 0;
  }
}

.footer-contact {
  dl {
    text-align: left;
    overflow: auto;
    margin: 0 auto;
  }
  dt {
    display: inline-block;
    vertical-align: top;
    line-height: 1.4;
    width: 9%;
    margin-bottom: 10px;
    & + dd {
      display: inline-block;
      vertical-align: top;
      line-height: 1.4;
      width: 85%;
      margin-bottom: 10px;
    }
  }
}

#below_footer {
  background-image: url("@{imagePath}/pattern-grains.png");
}

.archive .page-content {
  padding-right: 0;
}

/*
* Sidebar Styles
*/
.sidebar {
  ul {
    margin: 0 0.5em;

    & > li {
      font-family: @fontComic;
      color: @colorLigherBrown;

      &.current-cat a {
        color: white;
      }

      & > ul {
        margin-left: 0;
      }

      & > a {
        display: inline-block;
        padding: 0.25em 0;
      }

      & > span + ul {
        margin-top: 0.4em;
      }

      & > ul {
        a {
          font-size: 14px;
          font-family: @fontSlab;
        }
      }
    }
  }

  a {
    color: @colorLigherBrown;
    font-weight: 300;
    line-height: 1.4;
    display: block;
  }

}

.sidebar-search {
  margin-bottom: 2rem;

  & .input-group {
    width: 100%;
  }
  & input.form-control {
    background: lighten(@colorLigherBrown, 5%);
    box-shadow: none;
    border-color: lighten(@colorLigherBrown, 5%);
    font-family: "Helvetica", Arial, sans-serif;
  }
  & button.btn-search {
    background: lighten(@colorLigherBrown, 5%);
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
  }
}

.sidebar-category {
  background-color: @colorDarkBrown;
  background-image: url("@{imagePath}/bg-sidebar.jpg");
  background-position: 50% 100%;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;

  &:after {
    content: '';
    background-image: url("@{imagePath}/bg-sidebar-bottom.png");
    height: 14px;
    width: 100%;
    display: block;
    background-position: 0 100%;
  }
}

.sidebar_header {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1.5em 0 1em;

  h4 {
    color: @colorLigherBrown;
    margin: 10px auto;
    font-size: 19px;
  }
}

.sidebar_recent {
  padding: 1em 0;

  .recent-title {
    font-weight: normal;
  }
  .recent-date {
    font-family: @fontSlab;
    display: block;
    font-weight: 200;
    font-size: 0.8em;
    margin: 0.25em 0 1em;
  }
}

.sidebar_menu {
  padding: 1em 0;
  .current-product_cat-ancestor,
  .current-menu-item {
    display: none;
  }
}

/*
* Page Header
*/
.page-head {
  height: 270px;
  background-color: @colorDarkBrown;
  background-image: url("@{imagePath}/bg-pagehead-default.jpg");
  margin-bottom: 2rem;
  border-radius: 6px;
  border-bottom: 4px solid @colorDarkBrown;
  padding: 1em 2em;
  color: @colorLigherBrown;
  display: flex;
  align-items: center;
  h1, h2, h3, h4 {
    color: @colorLigherBrown;
  }

  &-content {
    max-width: 40%;
  }
}

/*
* Product Text
*/
.woocommerce ul.products li.product {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  border-bottom: 2px solid #ccc;
  width: 100%;
  margin-bottom: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &:nth-child(4n) {
    margin-right: 0;
  }

  .product-thumbnail {
    display: none;
  }

  h3 {
    line-height: 1.2;
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0.25em 1em;
    max-width: 70%;
  }

  .quantity {
    width: 35%;
    margin-right: 5%;
  }

  .price {
    color: @colorDarkBrown;
    font-weight: 600;
    padding: 0.25em 1em;
    margin-bottom: 0;
    line-height: 1;
  }

  .button[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 1px solid;
    color: @colorDarkBrown;
    font-size: 12px;
    font-weight: 400;
    padding: 9px 12px;
    margin-top: 0;
  }

  .product-description {
    display: none;
  }

  .product-actions {
    padding: 10px;
    position: absolute;
    right: 0;
    width: 30%;
    top: 5%;
  }

  .cart {
    text-align: center;
    margin-bottom: 0;
  }

  & .onsale, & .wc-new-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 6px 0 0 0;
    font-family: Roboto Condensed, sans-serif;
    font-weight: normal;
    top: auto;
    margin: auto;
    min-width: 0;
    min-height: 0;
    padding: 3px 20px;
    line-height: 2;
    font-size: 1.2rem;
  }

  & .onsale {
    background: #f53f3f;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.33px;
  }

  & .wc-new-badge {
    background: #ff6e00;
    letter-spacing: 0.33px;
  }
}

/* Product Grid */
.woocommerce .products.products--grid li.product {
  width: 24%;
  margin-right: 1.3%;
  margin-bottom: 1em;
  border-radius: 6px 6px 0 0;
  padding: 0;
  @media (min-width: 768px) {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 60%;
    height: 0;
    position: relative;
    background: @colorDarkBrown;
    overflow: hidden;

    img {
      position: absolute;
      top: -100%;
      left: -100%;
      bottom: -100%;
      right: -100%;
      margin: auto;
    }
  }

  h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 999em;
  }

  .product-description {
    display: none;
  }

  .product-actions {
    position: relative;
    width: auto;
    top: -10px;
  }
}

/* Product Inline */
.woocommerce .products.products--list li.product {
  display: inline-block;
  width: 100%;
  padding-bottom: 0;
  border-radius: 6px;
  height: 100%;
  min-height: 140px;
  padding-left: 28%;
  margin-bottom: 1em;

  .product-thumbnail {
    display: block;
    max-width: 28%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-bottom: 0;
  }

  h3 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4;
    max-width: 60%;
  }

  .price {
    font-size: 18px;
  }

  .product-description {
    margin-bottom: 0;
    line-height: 1.7;
    font-size: 14px;
    padding: 10px 16px;
    display: block;
  }

  .button[type=submit] {
    font-size: 14px;
  }

}

/*
* Shop Messages
*/
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  margin-bottom: 16px !important;
  background: @colorLightBrown;
  border-top: 0;
  border-radius: 6px;
  border-bottom: 3px solid @colorDarkBrown;
  font-size: 15px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: @colorDarkBrown;

  &:before {
    color: @colorDarkBrown;
  }

  .button {
    background: @colorDarkBrown;
    color: white;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 2px solid darken(@colorLightBrown, 10%);
    border-radius: 4px;
    margin-left: 1em;
    &:hover {
      background-color: @colorLigherBrown;
    }
  }
}

/* Sinlge Product */
.product-summary {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.woocommerce div.product {
  padding-right: 0;

  div.images, div.summary {
    margin-bottom: 1em;
  }
  .summary {
    padding-right: 20px;
  }
  .images {
    height: 0;
    padding-bottom: 35%;
    position: relative;
    overflow: hidden;
    background-color: @colorBrown;
    img {
      position: absolute;
      top: -100%;
      bottom: -100%;
      right: -100%;
      left: -100%;
      margin: auto;
    }
  }
  .price {
    font-weight: 600;
    .amount {
      color: @colorBrown;
    }
  }
  .product_title {
    font-family: @fontSlab;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 2em;
    color: @colorDarkBrown;
  }
  .cart .button {
    background: transparent;
    border: 1px solid @colorBrown;
    color: @colorBrown;
    font-weight: normal;
    font-size: 13px;
    padding: 9px 4%;
  }
  .woocommerce-tabs ul.tabs {
    display: none;
  }
  .woocommerce-tabs .panel {
    margin-bottom: 0;
    border: 0 none;
    box-shadow: none;
    padding: 0 2em;
    font-size: 15px;
    overflow: auto;
    line-height: 1.4;
    h2 {
      display: none;
    }
  }
  .related, .upsells {
    h2 {
      background-color: @colorBrown;
      padding: 4px 20px;
      color: white;
      font-size: 20px;
      border-radius: 6px;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}

/* About */
.keys {
  li {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    line-height: 1.2;
    font-weight: 400;
    font-family: @fontComic;
    width: 49%;
    font-size: 18px;
    padding: 10px;
    @media (min-width: 768px) {
      width: 29%;
    }
    @media (min-width: 1200px) {
      width: 16%;
    }
  }
}

.keys--about {
  li:before {
    content: '';
    width: 120px;
    height: 100px;
    display: block;
    margin: 0 auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  li:nth-child(1):before {
    background-image: url("@{imagePath}/icon-delivery.png");
  }
  li:nth-child(2):before {
    background-image: url("@{imagePath}/icon-products.png");
  }
  li:nth-child(3):before {
    background-image: url("@{imagePath}/icon-basket.png");
  }
  li:nth-child(4):before {
    background-image: url("@{imagePath}/icon-farmer.png");
  }
  li:nth-child(5):before {
    background-image: url("@{imagePath}/icon-books.png");
  }
  li:nth-child(6):before {
    background-image: url("@{imagePath}/icon-quality.png");
  }
}

/* Cart */
.woocommerce table.shop_table {
  border: 0 none;
}

.woocommerce-cart table.cart {
  border-collapse: collapse;

  thead th {
    background-color: @colorBrown;
    color: white;
    font-family: "Resistenza", serif;
    font-weight: normal;
  }

  tbody {
    &:before {
      content: '';
      display: table-row;
      height: 1em;
      width: 100%;
    }

  }

  .amount {
    font-weight: bold;
  }

  .cart_item {
    position: relative;

    td {
      border-top: 4px solid transparent;
      position: relative;
      & > * {
        position: relative;
      }

      &:before {
        content: '';
        background-color: white;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
      }
    }
  }

  .product-thumbnail {
    border-radius: 6px 0 0 6px;
    padding: 0;
    width: 15%;

    a {
      width: 100%;
      padding-bottom: 70%;
      display: block;
      overflow: hidden;
      border-radius: 6px 0 0 6px;
    }

    &:before {
      border-radius: 6px 0 0 6px;
    }

    img {
      position: absolute;
      margin: auto;
      width: 100%;
      top: -100%;
      bottom: -100%;
      left: -100%;
      right: -100%;
      border-radius: 6px 0 0 6px;
    }
  }

  .product-name {
    line-height: 1.2;
    padding-left: 2em;
    padding-right: 2em;

    a {
      font-weight: normal;
      color: @colorBrown;

      &:hover {
        color: @colorLightBrown;
      }
    }
  }
  .product-price,
  .product-quantity,
  .product-subtotal {
    width: 15%;
    text-align: center;
  }

  .product-remove {
    border-radius: 0 6px 6px 0;
    width: 6%;
    text-align: left;

    &:before {
      border-radius: 0 6px 6px 0;
    }

    a {
      display: inline-block;
    }
  }

  td.actions {
    border-radius: 6px;
    padding: 2em 20px 1em;
    font-size: 15px;
    position: relative;
    border-top: 0 none;

    &:before {
      content: '';
      width: 100%;
      height: 80%;
      display: block;
      position: absolute;
      border-radius: 6px;
      top: 1em;
      left: 0;
      background-color: @colorBrown;
      background-image: url("@{imagePath}/pattern-wood-173x260.jpg");
    }

    .coupon {
      position: relative;
      .input-text {
        min-width: 12em;
        border-radius: 3px;
        border: 0 none;
        margin-right: 0.5em;
        padding: 0.48em 0.8em;
        line-height: 1;
      }
    }
  }

  .button {
    background-color: lighten(@colorLightBrown, 10%);
  }

}

#charties {
  display: none;
}

.woocommerce .cart-collaterals {
  h2 {
    background-color: @colorBrown;
    font-size: 18px;
    color: white;
    border-radius: 6px;
  }

  .cart_totals table {
    background-color: white;
    padding: 1em;
    a {
      color: @colorBrown;
      &:hover {
        color: @colorLightBrown;
      }
    }
  }

  .wc-proceed-to-checkout {
    .checkout-button {
      background-color: @colorBrown;
      background-image: url("@{imagePath}/pattern-wood-173x260.jpg");
      border-radius: 6px;
    }
  }
}

.custom_post_item {
  border-bottom: 0 none;
}

.post {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  border-bottom: 3px solid #ddd;
  padding-bottom: 1em;

  .post-banner {
    height: 200px;
    background-color: @colorDarkBrown;
    margin-bottom: 2em;
    background-size: cover;
    background-position: 50% 50%;
    &--full {
      height: 300px;
    }
  }

  .post-title {
    font-family: @fontSlab;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }

  .post-entry {
    text-align: left;
    padding: 0 2em;
    font-size: 14px;
    line-height: 1.6;
  }

  a {
    color: @colorBrown;
    text-decoration: underline;
  }
}

.nav-post-link {
  color: @colorBrown;
  a {
    color: @colorBrown;
  }
}

.woocommerce form.checkout_coupon {
  background-color: @colorDarkBrown;
  background-image: url("@{imagePath}/pattern-wood-173x260.jpg");
  margin: 1rem auto;

  p {
    margin-bottom: 0;
  }

  .button {
    background-color: @colorLightBrown;
  }

  .input-text {
    min-width: 12em;
    border-radius: 3px;
    border: 0 none;
    margin-right: 0.5em;
    padding: 0.48em 0.8em;
    line-height: 1;
  }
}

.woocommerce-info .showcoupon {
  color: @colorDarkBrown;
  text-decoration: underline;
}

#order_review .shop_table {
  thead {
    &:after {
      content: '';
      display: block;
      height: 10px;
    }
    th {
      background: @colorBrown;
      border-radius: 0 6px 6px 0;
      color: white;
      font-family: @fontComic;
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
    }
  }

  .cart_item {
    td {
      border-bottom: 0 none;
      position: relative;
      padding: 20px;
      border-top: 0 none;
      * {
        position: relative;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        height: 90%;
        width: 100%;
        background-color: white;
        margin: auto;
      }
      &:last-child:before {
        border-radius: 0 6px 6px 0;
      }
      &:first-child:before {
        border-radius: 6px 0 0 6px;
      }
    }
  }
}

.checkout {
  background-color: @colorBrown;
  text-align: left;
  padding: 2em;

  label {
    color: white;
    font-weight: 200;
    font-size: 12px;
    position: relative;
  }

  input.input-checkbox {
    position: relative;
  }

  h3 {
    color: white;
  }

  input.input-text,
  textarea.input-text {
    padding: 8px 10px;
    border-radius: 2px;
    border: 0 none;

  }

  #ship-to-different-address * {
    display: inline;
    .input-checkbox {
      margin-right: 1em;
    }
  }

}

.post-type-archive-testimonials hr,
.page hr {
  .rule;
}

.data {
  &-table {
  }
  &-row {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1px;
    border-radius: 6px;
    padding: 1em 0;
    text-align: left;
  }
  &-cell {
    flex: 1;
    &:first-child {
      text-align: center;
    }
    &:last-child {
      text-align: center;
    }
  }
}
