/*----------------------------------------------------------------
	Banner
----------------------------------------------------------------*/

#banner {
	overflow: hidden;
	.relative;
	background: @branding_primary_light;
}
	.banner_lg { .h(600px); }
	.banner_md { .h(450px); }
	.banner_sm { .h(300px); }

#banner_slider { .h_100; }
	.banner_slide {
		.w_100;
		.h_100;
		.relative;		
	}
		.banner_slide > .row,
		.banner_slide > .row > [class*="col-sm-"] { .h_100; }

		.banner_slide_image_holder {
			.w_100;
			.absolute;
			top: 0;
			left: 0;
			.h_100;
		}
			.banner_slide_image {
				.block;
				top: 0;
				left: 0;
				.relative;
				.w_100;
				.h_100;
				.cover();
				background-position: center center;
			}

		.banner_slide_content_holder {
			.w_100;
			.absolute;
			top: 50%;
			left: 50%;
			.translate(-50%, -50%);
		}
			.banner_slide_content {
				background: url('@{themeurl}/images/bg_banner_content.png') repeat center center;
				.pad(25px 25px 1px 25px);
			}
			.banner_slide_button { .marB(25px); }
				.banner_slide_button .btn_solid.btn_white {
					background: @colour_white;
					.fc_primary;
					.bor(3px solid @colour_white);
					.borB(3px solid @colour_greyL);
				}
				.banner_slide_button .btn_solid.btn_primary,
				.banner_slide_button .btn_solid.btn_secondary,
				.banner_slide_button .btn_solid.btn_white {
					.transition2(background 0.25s ease-out, border-color 0.25s ease-out);
				}
					.banner_slide_button .btn_solid.btn_primary:hover {
						background: @branding_primary_dark;
						border-color: @branding_primary;
						.fc_white;
					}
					.banner_slide_button .btn_solid.btn_secondary:hover {
						background: @branding_secondary_dark;
						border-color: @branding_secondary;
						.fc_white;
					}
					.banner_slide_button .btn_solid.btn_white:hover {
						background: @colour_greyL;
						border-color: @colour_white;
						.fc_primary;
					}

.btn_slider {
	.w(26px);
	.h(73px);
	.block;
	.absolute;
	top: 50%;
	.translate(0, -50%);
	z-index: 500;
	cursor: pointer;
}
	#btn_prev { left: 10px; background: url('@{themeurl}/images/btn_prev.png') no-repeat center top; }
	#btn_next { right: 10px; background: url('@{themeurl}/images/btn_next.png') no-repeat center top; }
		#btn_prev:hover, #btn_next:hover { background-position: 0 -73px; }
		#btn_prev:active, #btn_next:active { background-position: 0 -146px; }

#banner_pager {
	.TAC;
	.absolute;
	left: 0;
	bottom: 10px;
	.w_100;
	z-index: 100;
}
	#banner_pager span {
		.w(12px);
		.h(12px);
		.DIB;
		background: @branding_secondary;
		.marLR(5px);
		cursor: pointer;
		.opacity(0.8);
		.border-radius(6px);
	}
		#banner_pager span.cycle-pager-active,
		#banner_pager span:hover {
			background: @branding_primary;
			.opacity(1);
		}			


// Venus
	.Venus #banner { .borB(7px solid @branding_primary_dark); }
	.Venus .banner_slide_content { .TAC; }

// Jupiter
	.Jupiter #banner { .borB(3px solid @branding_primary_dark); }
	.Jupiter .banner_slide .row_image > [class*="col-sm-"] { .w(50%); .marL(50%); }
	.Jupiter .banner_slide .row_content > [class*="col-sm-"] { .w(50%); }
	.Jupiter .banner_slide_image_holder {
		.w(120%);
		border-left: 4px solid @branding_primary_dark;
		overflow: hidden;
		.skew(-20deg, 0);
	}
	.Jupiter .banner_slide_image {
		.skew(20deg, 0);
		.marL(-110px);
	}
	.Jupiter .banner_slide_content {
		background: none;
		.pad(25px 0 1px);
		.TAL;
	}

// Neptune
	.Neptune #banner { .borB(4px solid @branding_primary); }
	.Neptune .banner_slide .row_content > [class*="col-sm-"] { .w(50%); }
	.Neptune .banner_slide_content { .TAL; }

	.Neptune .has_banner_slide_button { .padB(15px); }
	.Neptune .banner_slide_button {
		.mar(0);
		bottom: 0;
		left: 40px;
		position: absolute;
		transform: translate(0px, 50%);
	}


@media only screen and (max-width : 1200px) {
	.banner_lg { .h(550px); }
	.banner_md { .h(400px); }
	.banner_sm { .h(250px); }
	.Neptune .banner_slide .row_content > [class*="col-sm-"] { .w(60%); }
}

@media only screen and (max-width : 991px) {
	.banner_lg { .h(500px); }
	.banner_md { .h(350px); }
	.banner_sm { .h(200px); }
	.Neptune .banner_slide .row_content > [class*="col-sm-"] { .w(70%); }
	.Jupiter .banner_slide_image { .marL(-90px); }
}

@media only screen and (max-width : 767px) {
	#banner { background: url('@{themeurl}/images/bg_banner_content.png') repeat center center; }
	#banner,
	.banner_slide .row,
	.banner_slide .row > [class*="col-sm-"] { .h_auto; .pad(0); .mar(0); }
	.banner_slide_image_holder {
		.relative;
		.h_auto;
	}
	#banner_slider,
	.banner_slide { .h_auto; }
	.banner_slide_image { .h(300px); }
	.banner_slide_content_holder {
		.relative;
		left: 0;
		top: 0;
		.translate(0,0);
	}
		.banner_slide_content { background: none; }

		.Jupiter .banner_slide .row_content > [class*="col-sm-"],
		.Neptune .banner_slide .row_content > [class*="col-sm-"] { .w_100; }
			.Jupiter .banner_slide_content,
			.Neptune .banner_slide_content { .TAC; }

		.Jupiter .banner_slide .row_image > [class*="col-sm-"] { .w_100; .mar(0); }
			.Jupiter .banner_slide_image_holder {
				.bor(none);
				.skew(0,0);
				.w_100;
			}
				.Jupiter .banner_slide_image { .marL(0); .skew(0,0); }

	.banner_slide_button,
	.Neptune .banner_slide_button {
		.mar(0);
		bottom: auto;
		left: auto;
		.relative;
		.translate(0,0);
	}
			
	.btn_slider { top: auto; bottom: -20px; }
	#banner_pager { .relative; bottom: 0; .padTB(5px); }
}

@media only screen and (max-width : 480px) {
	.banner_slide_image { .h(200px); }
}