/*----------------------------------------------------------------
	Base Tags
----------------------------------------------------------------*/

body {
	background: @bg_body;
	.f_roboto;
	.fc_greyM;
	.fw_300;
	.fs_18;
	.mar(0);
}
	#wrapper.body_background_type_pattern,
	header.header_background_type_pattern,
	.af_bg_header,
	.af_bg_pattern {
		background-repeat: repeat;
		background-position: center;
	}

p { .mar(0 0 25px); }

img { max-width: 100%; .h_auto; }

ul {
	list-style: none;
	.mar(0 0 25px);
	.pad(0);
}
	ul li {
		list-style: outside none disc;
		.mar(0 0 0 18px);
		.pad(0);
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, button, input[type=submit], input[type=reset] { cursor: pointer; }
a {
	.fc_primary;
	.td_none;
	.fw_400;
	word-wrap: break-word;
	text-decoration: none;
}
	a:hover { .fc_primary; .td_line; }

h1, h2, h3, h4, h5, h6 {
	.fc_secondary;
	.fw_300;
	.relative;
	.mar(0 0 25px);
	text-rendering: auto;
	z-index: 1;
}
	h1 { font-size:34px; line-height:40px; }
	h2 { font-size:32px; line-height:38px; }
	h3 { font-size:30px; line-height:36px; }
	h4 { font-size:26px; line-height:32px; }
	h5 { font-size:22px; line-height:28px; }
	h6 { font-size:18px; line-height:24px; }


/*--------------------------------
	Font Styles
--------------------------------*/

// Font Weight
.fw_100 { font-weight: 100; }
.fw_300 { font-weight: 300; }
.fw_400 { font-weight: 400; }
.fw_500 { font-weight: 500; }
.fw_600 { font-weight: 600; }
.fw_700 { font-weight: 700; }
.fw_800 { font-weight: 800; }
.fw_900 { font-weight: 900; }

// Font Size
.fs_12 { font-size: 12px; line-height: 18px; }
.fs_14 { font-size: 14px; line-height: 20px; }
.fs_16 { font-size: 16px; line-height: 24px; }
.fs_18 { font-size: 18px; line-height: 26px; }
.fs_20 { font-size: 20px; line-height: 28px; }
.fs_22 { font-size: 22px; line-height: 30px; }
.fs_24 { font-size: 24px; line-height: 32px; }
.fs_28 { font-size: 28px; line-height: 36px; }
.fs_30 { font-size: 30px; line-height: 38px; }
.fs_32 { font-size: 32px; line-height: 40px; }
.fs_36 { font-size: 36px; line-height: 44px; }
.fs_40 { font-size: 40px; line-height: 48px; }
.fs_44 { font-size: 44px; line-height: 52px; }
.fs_50 { font-size: 50px; line-height: 58px; }
.fs_56 { font-size: 56px; line-height: 64px; }
.fs_62 { font-size: 62px; line-height: 70px; }
.fs_68 { font-size: 68px; line-height: 76px; }

// Font Color
.fc_primary, .fc_primary a, .fc_primary a:hover, a.fc_primary, a.fc_primary:hover { color: @branding_primary; }
	.fc_primaryL, .fc_primaryL a, .fc_primaryL a:hover, a.fc_primaryL, a.fc_primaryL:hover { color: @branding_primary_light; }
	.fc_primaryD, .fc_primaryD a, .fc_primaryD a:hover, a.fc_primaryD, a.fc_primaryD:hover { color: @branding_primary_dark; }
.fc_secondary, .fc_secondary a, .fc_secondary a:hover, a.fc_secondary, a.fc_secondary:hover { color: @branding_secondary; }
	.fc_secondaryL, .fc_secondaryL a, .fc_secondaryL a:hover, a.fc_secondaryL, a.fc_secondaryL:hover { color: @branding_secondary_light; }
	.fc_secondaryD, .fc_secondaryD a, .fc_secondaryD a:hover, a.fc_secondaryD, a.fc_secondaryD:hover { color: @branding_secondary_dark; }
.fc_tertiary, .fc_tertiary a, .fc_tertiary a:hover, a.fc_tertiary, a.fc_tertiary:hover { color: @branding_tertiary; }
	.fc_tertiaryL, .fc_tertiaryL a, .fc_tertiaryL a:hover, a.fc_tertiaryL, a.fc_tertiaryL:hover { color: @branding_tertiary_light; }
	.fc_tertiaryD, .fc_tertiaryD a, .fc_tertiaryD a:hover, a.fc_tertiaryD, a.fc_tertiaryD:hover { color: @branding_tertiary_dark; }
.fc_white, .fc_white a, .fc_white a:hover, a.fc_white, a.fc_white:hover { color: @colour_white; }
.fc_greyL, .fc_greyL a, .fc_greyL a:hover, a.fc_greyL, a.fc_greyL:hover { color: @colour_greyL; }
.fc_greyM, .fc_greyM a, .fc_greyM a:hover, a.fc_greyM, a.fc_greyM:hover { color: @colour_greyM; }
.fc_greyD, .fc_greyD a, .fc_greyD a:hover, a.fc_greyD, a.fc_greyD:hover { color: @colour_greyD; }
.fc_black, .fc_black a, .fc_black a:hover, a.fc_black, a.fc_black:hover { color: @colour_black; }

// Font Family
.f_roboto { font-family: 'Roboto', sans-serif; }
.f_robotoC { font-family: 'Roboto Condensed', sans-serif; }
.f_robotoS { font-family: 'Roboto Slab', serif; }

// Font Style
.italic { font-style: italic; }

// Text Transform
.tt_upper { text-transform: uppercase; }
.tt_none { text-transform: none; }
.tt_cap { text-transform: capitalize; }

// Text Decoration
.td_none { text-decoration: none; }
.td_line { text-decoration: underline; }

// Strike Background
.bg_strike:before {
	border-top: 1px solid @branding_secondary;
	content:"";
	margin: 0 auto; /* this centers the line to the full width specified */
	position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
	top: 50%; left: 0; right: 0; bottom: 0;
	width: 100%;
	z-index: -1;
}
		.Neptune .bg_strike:before { border-top: 1px solid @branding_primary; }
	.bg_strike span { /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
		background: @bg_body; 
		.padR(10px);
	}
	a.hview {
		background: @bg_body;
		.float_r;
		.fc_greyD;
		.fs_16;
		.td_none;
		.padL(10px);
		.marT(5px);
		.robotoC;
	}
		a.hview:hover { .td_line; }


/*--------------------------------
	Layout
--------------------------------*/

.nonei { display: none !important; }
.none { display: none; }
.inline { display: inline; }
.block { display: block; }
.DIB { display: inline-block; }
.TAC { text-align: center; }
.TAL { text-align: left; }
.TAR { text-align: right; }
.relative { position: relative; }
.absolute { position: absolute; }
.slx_mt_0 { margin-top: 0 !important; }
	.slx_mt_10 { margin-top: 10px !important; }
	.slx_mt_-20 { margin-top: -20px; }
.slx_mr_0 { margin-right: 0 !important; }
.slx_mb_0 { margin-bottom: 0 !important; }
	.slx_mb_5 { margin-bottom: 5px !important; }
	.slx_mb_10 { margin-bottom: 10px !important; }
	.slx_mb_20 { margin-bottom: 20px !important; }
.slx_ml_0 { margin-left: 0 !important; }
.strike { text-decoration: line-through; }
.showhide_inner { display: none; }
.float_l { float: left; }
.float_r { float: right; }
.float_c { float: center; }
.float_n { float: none; }

.w_100 { width: 100%; }
.w_auto { width: auto; }
.h_100 { height: 100%; }
.h_auto { height: auto; }

.aligncenter { .block; .mar(0 auto 20px); }
.alignleft { .float_l; .mar(0 20px 20px 0); }
.alignright { .float_r; .mar(0 0 20px 20px); }


/*--------------------------------
	Extra 5ths Column
--------------------------------*/

/*.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	.relative;
	min-height: 1px;
	.padLR(10px);
	.float_l;
}
@media (max-width: 767px) {
	.col-xs-5ths { .w(20%); }
	.col-sm-5ths,
	.col-md-5ths,
	.col-lg-5ths { .w_100; }
}
@media (min-width: 768px) {
	.col-xs-5ths,
	.col-sm-5ths { .w(20%); }
	.col-md-5ths,
	.col-lg-5ths { .w_100; }
}
@media (min-width: 992px) {
	.col-xs-5ths,
	.col-sm-5ths,
	.col-md-5ths { .w(20%); }
	.col-lg-5ths { .w_100; }
}
@media (min-width: 1200px) {
	.col-xs-5ths,
	.col-sm-5ths,
	.col-md-5ths,
	.col-lg-5ths { .w(20%); }
}*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	.relative;
	min-height: 1px;
	.padLR(10px);
	.float_l;
}
.col-xs-12 { .w_100; }
.col-xs-11 { .w(91.66666667%); }
.col-xs-10 { .w(83.33333333%); }
.col-xs-9 { .w(75%); }
.col-xs-8 { .w(66.66666667%); }
.col-xs-7 { .w(58.33333333%); }
.col-xs-6 { .w(50%); }
.col-xs-5 { .w(41.66666667%); }
.col-xs-4 { .w(33.33333333%); }
.col-xs-3 { .w(25%); }
.col-xs-5ths { .w(20%); }
.col-xs-2 { .w(16.66666667%); }
.col-xs-1 { .w(8.33333333%); }

@media (min-width: 768px) {
	.col-sm-12 { .w_100; }
	.col-sm-11 { .w(91.66666667%); }
	.col-sm-10 { .w(83.33333333%); }
	.col-sm-9 { .w(75%); }
	.col-sm-8 { .w(66.66666667%); }
	.col-sm-7 { .w(58.33333333%); }
	.col-sm-6 { .w(50%); }
	.col-sm-5 { .w(41.66666667%); }
	.col-sm-4 { .w(33.33333333%); }
	.col-sm-3 { .w(25%); }
	.col-sm-5ths { .w(20%); }
	.col-sm-2 { .w(16.66666667%); }
	.col-sm-1 { .w(8.33333333%); }
}
@media (min-width: 992px) {
	.col-md-12 { .w_100; }
	.col-md-11 { .w(91.66666667%); }
	.col-md-10 { .w(83.33333333%); }
	.col-md-9 { .w(75%); }
	.col-md-8 { .w(66.66666667%); }
	.col-md-7 { .w(58.33333333%); }
	.col-md-6 { .w(50%); }
	.col-md-5 { .w(41.66666667%); }
	.col-md-4 { .w(33.33333333%); }
	.col-md-3 { .w(25%); }
	.col-md-5ths { .w(20%); }
	.col-md-2 { .w(16.66666667%); }
	.col-md-1 { .w(8.33333333%); }
}
@media (min-width: 1200px) {
	.col-lg-12 { .w_100; }
	.col-lg-11 { .w(91.66666667%); }
	.col-lg-10 { .w(83.33333333%); }
	.col-lg-9 { .w(75%); }
	.col-lg-8 { .w(66.66666667%); }
	.col-lg-7 { .w(58.33333333%); }
	.col-lg-6 { .w(50%); }
	.col-lg-5 { .w(41.66666667%); }
	.col-lg-4 { .w(33.33333333%); }
	.col-lg-3 { .w(25%); }
	.col-lg-5ths { .w(20%); }
	.col-lg-2 { .w(16.66666667%); }
	.col-lg-1 { .w(8.33333333%); }
}


/*--------------------------------
	Responsive YouTube Video / Google Map
--------------------------------*/

.iframe_responsive {
	.relative; /* keeps the aspect ratio */
	.padB(56.25%);
	.padT(0);
	.marB(25px);
	overflow: hidden;
}

	.iframe_responsive iframe,
	.iframe_responsive object,
	.iframe_responsive embed {
		.absolute;
		top: 0;
		left: 0;
		.w_100;
		.h_100;
	}
