/*----------------------------------------------------------------
	Box Links
----------------------------------------------------------------*/

#box_links { .pad(0 0 30px); }
	.home #box_links { .pad(55px 0 0); }

a.box_link, .box_link {
	.block;
	.relative;
	.mar(0 0 25px);
	.td_none;
	.TAC;
}
	a.box_link:hover, .box_link:hover { .td_none; }
	.box_link_image {}
		a.box_link:hover .box_link_image, .box_link:hover .box_link_image { .opacity(0.8); }
	.box_link_title {
		.w_100;
		.pad(10px);
		.fs_20;
		line-height: 22px;
	}
	.box_link_blurb { .fw_300; }


@media only screen and (min-width : 481px) and (max-width : 767px) {
	#box_links .container .row { .marLR(-15px); }
	#box_links .container [class*="col-"] { .padLR(15px); }
}
@media only screen and (max-width : 480px) {
	#box_links [class*="col-xs-"] { width: 100%; margin: 0; }
}