/*----------------------------------------------------------------
	Buttons
----------------------------------------------------------------*/

.btn_solid,
.btn_outline {
	.DIB;
	.TAC;
	.mar(0);
	.pad(10px 20px 12px);
	.td_none;
	/*.fs_20;*/
	.tt_upper;
	.fw_500;
	.bor(3px solid @branding_primary);
	.transition2(background 0.25s ease-out, color 0.25s ease-out);
}
.btn_solid {
	.fc_white;
	background: @branding_primary;
	.borB(3px solid @branding_primary_dark);
}
	.btn_solid.btn_secondary {
		background: @branding_secondary;
		.bor(3px solid @branding_secondary);
		.borB(3px solid @branding_secondary_dark);
	}
	.btn_solid.btn_tertiary {
		background: @branding_tertiary;
		.bor(3px solid @branding_tertiary);
		.borB(3px solid @branding_tertiary_dark);
	}
		.btn_solid:hover {
			background: none;
			.td_none;
		}
			.btn_solid.btn_primary:hover {
				.fc_primary;
				border-color: @branding_primary;
			}
			.btn_solid.btn_secondary:hover {
				.fc_secondary;
				border-color: @branding_secondary;
			}
			.btn_solid.btn_tertiary:hover {
				.fc_tertiary;
				border-color: @branding_tertiary;
			}

.btn_outline {
	.fc_primary;
	background: none;
	.transition2(background 0.25s ease-out, color 0.25s ease-out);
}
		.btn_outline:hover {
			background: @branding_primary;
			.fc_white;
			.td_none;
		}
	.btn_outline.btn_secondary {
		border-color: @branding_secondary;
		.fc_secondary;
	}
		.btn_outline.btn_secondary:hover {
			background: @branding_secondary;
			.fc_white;
		}
	.btn_outline.btn_tertiary {
		border-color: @branding_tertiary;
		.fc_tertiary;
	}
		.btn_outline.btn_tertiary:hover {
			background: @branding_tertiary;
			.fc_white;
		}


.btn_full { .w_100; }
