/*----------------------------------------------------------------
	Colours
----------------------------------------------------------------*/

@branding_primary_light: lighten(@branding_primary, 10%);
@branding_primary_dark: darken(@branding_primary, 10%);

@branding_secondary_light: lighten(@branding_secondary, 10%);
@branding_secondary_dark: darken(@branding_secondary, 10%);

@branding_tertiary_light: lighten(@branding_tertiary, 10%);
@branding_tertiary_dark: darken(@branding_tertiary, 10%);

@bg_body: #FFFFFF;

@colour_white: #FFFFFF;
@colour_black: #000000;

@colour_whiteD: #EEEEEE;
@colour_greyVL: #DDDDDD;
@colour_greyL: #BBBBBB;
@colour_greyM: #666666;
@colour_greyD: #333333;
