/*----------------------------------------------------------------
	Content
----------------------------------------------------------------*/

#content {
	background: none;
	.pad(40px 0);
}

	.contact_map iframe { .w_100; .h(500px); }

	.the_content { .padB(30px); }

/*--------------------------------
	Side Content Block
--------------------------------*/

.side_content_block {
	.block;
	background: @colour_whiteD;
	.w(48%);
	.pad(20px 20px 1px 20px);
}
	.side_content_block_right {
		.float_r;
		.mar(0 0 25px 2%);
	}
	.side_content_block_left {
		.float_l;
		.mar(0 2% 25px 0);
	}
	.side_content_block li {
		.mar(0 0 6px 25px);
		line-height: 22px;
		list-style: none;
	}
		.side_content_block li i {
			.mar(0 10px 0 -25px);
			.fc_primary;
		}
	.side_content_block .btn_1,
	.side_content_block .btn_2 {
		.tt_none;
		.fs_18;
		.fw_400;
	}

@media only screen and (max-width : 480px) {
	.side_content_block { .w_100; .mar(0 0 25px); .float_n; }
}