/*----------------------------------------------------------------
	Footer
----------------------------------------------------------------*/

#above_footer {
	.pad(40px 0 30px);
	.TAC;
	border-style: solid;
	border-width: 0;
}
	.af_bordertop_primary_colour { border-top-color: @branding_primary; }
	.af_bordertop_secondary_colour { border-top-color: @branding_secondary; }
	.af_bordertop_tertiary_colour { border-top-color: @branding_tertiary; }
	.af_borderbtm_primary_colour { border-bottom-color: @branding_primary; }
	.af_borderbtm_secondary_colour { border-bottom-color: @branding_secondary; }
	.af_borderbtm_tertiary_colour { border-bottom-color: @branding_tertiary; }

.af_testimonials { margin: 10px 0 0; }	
.af_testimonials p {
	.italic;
}	
.af_testimonials p span {
	.fw_700;
	.fs_20;
	font-style: normal;
}
	.af_testimonial { .w_100; }

footer {
	background: @branding_secondary;
	.pad(40px 0 60px);
	color: darken(@colour_white, 10%);
	.fs_16;
	line-height: 26px;
	.fw_400;
}
	footer h3 {
		.fc_white;
		.mar(9px 0 15px 0);
		.fs_24;
		.fw_400;
	}
	footer ul { .mar(0 0 20px); }
	footer ul li, footer p { .fs_16; line-height: 26px; .fw_400; }
		footer ul li { .mar(0 0 0 15px); list-style: outside none disc; }

	footer a { color: #f4f4f4; .td_none; }
		footer a:hover { color: #f4f4f4; .td_line; }
		.footer_contact_right {
			.fc_primary;
			a { .fc_primary; }
			a:hover { .fc_primary; }
		}

#below_footer {
	background: none;
	.fc_greyM;
	.fs_14;
	line-height: 24px;
	.pad(20px 0);
	.TAC;
}
	#below_footer p { .mar(0); .fw_300; }
		#below_footer p a { .fc_greyM; .td_none; .fw_300; }
			#below_footer p a:hover { .fc_greyM; .td_line; }
			#below_footer p a span { .fw_500; }
			