/*----------------------------------------------------------------
	Forms
----------------------------------------------------------------*/

div.wpcf7.formHolder {
	padding: 20px;
	margin: 0 0 35px;
	color: @colour_white;
}
.formHolder_contact div.wpcf7 {
	border-bottom: 3px solid @branding_primary_dark;
	background: @branding_primary;
}
.formHolder_quote div.wpcf7 {
	border-bottom: 3px solid @branding_secondary_light;
	background: @branding_secondary;
}
.formHolder_popup div.wpcf7 {
	border-bottom: 3px solid @branding_primary_dark;
	background: @branding_primary;
}
.formHolder_footer div.wpcf7 {
	padding: 0;
	margin: 0;
}

#popup_form [class*="col-sm-"] { width: 100%; }
.formHolder h2, .formHolder p {
	margin: 0;
}
	.formHolder_footer p { margin: 0 0 25px; }
.formHolder label {
	font-weight: 100;
	font-size: 15px;
	line-height: 18px;
	margin: 0 0 3px;
	color: @colour_white;
}
	.formHolder_footer label {
		.fw_400;
		.fs_16;
		margin: 10px 0;
	}
.formHolder input,
.formHolder select,
.formHolder textarea {
	display: block;
	width: 100%;
	color: @colour_greyM;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	padding: 2px 6px;
	margin: 0 0 8px;
	border: none;
	background: @colour_white;
	.border-radius(0px);
	.box-sizing;
}
	.formHolder textarea { height: 130px; }
	.formHolder_footer input,
	.formHolder_footer select,
	.formHolder_footer textarea { padding: 10px 6px; }
		.formHolder_footer textarea { height: 96px; }
		.formHolder label.pullup { margin-top: -34px; .block; }
.formHolder input.btn_submit {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	background: @colour_white;
	border: 2px solid @colour_white;
	padding: 8px 10px;
}
	.formHolder input.btn_submit:hover {
		background: none;
		color: @colour_white !important;
	}
		.formHolder_contact .formHolder input.btn_submit { color: @branding_primary; }
		.formHolder_quote .formHolder input.btn_submit {
			display: inline-block;
			width: auto;
			margin: 0 0 0 10px;
			padding: 8px 30px;
			color: @branding_secondary; 
		}
		.formHolder_footer .formHolder input.btn_submit {
			background: @branding_primary;
			border-color: @branding_primary;
			color: @colour_white;
			&:hover { background: none; }
		}

	.formHolder input.wpcf7-validates-as-required {
		background: #ffffff url("@{themeurl}/images/bg_req.png") no-repeat right center;
	}

	span.wpcf7-not-valid-tip { font-size: 14px; font-weight: 500; }
	.formHolder_contact span.wpcf7-not-valid-tip { color: @branding_secondary_dark; }
	.formHolder_quote span.wpcf7-not-valid-tip { color: @branding_primary_dark; }

	div.wpcf7-response-output { margin: 0; }
	div.wpcf7 img.ajax-loader { float: left; }

.form_line {
	width: 100%;
	height: 2px;
	display: block;
	margin: 10px 0;
	padding: 0;
}
	.formHolder_contact .form_line {
		background: @branding_primary_dark;
		border-bottom: 1px solid @branding_primary_light;
	}
	.formHolder_quote .form_line {
		background: @branding_secondary_dark;
		border-bottom: 1px solid @branding_secondary_light;
	}
	.formHolder_popup .form_line {
		background: @branding_primary_dark;
		border-bottom: 1px solid @branding_primary_light;
	}

.hidelabel { .none; }


// Checkbox and Radio Buttons
.wpcf7-checkbox,
.wpcf7-radio { .block; .marB(8px); }

	.wpcf7-checkbox span.wpcf7-list-item,
	.wpcf7-radio span.wpcf7-list-item { .mar(0); }

		.wpcf7-checkbox label input,
		.wpcf7-radio label input { .float_l; .mar(3px 10px 0 0); .w_auto; }
		.wpcf7-checkbox label span,
		.wpcf7-radio label span { overflow: hidden; }

@media only screen and (min-width : 768px) and (max-width : 992px) {
	div.wpcf7.formHolder {.pad(10px); }
}
@media only screen and (max-width : 767px) {
	div.wpcf7.formHolder {.pad(10px); }
	#popup_form .row { .mar(0); }
	#popup_form [class*="col-sm-"] { .pad(0); }
}
@media only screen and (max-width : 480px) {
	div.wpcf7.formHolder { .pad(10px); }
}