/*----------------------------------------------------------------
	Products / Gallery
----------------------------------------------------------------*/

.title a { .fc_greyM; }

.gallery_holder { .TAC; }
.featured_image a, .featured_image a:hover,
.gallery_holder a, .gallery_holder a:hover { .td_none; }
	.featured_image img, .gallery_holder img {
		.DIB;
		.TAC;
		.mar(0 1% 20px);
		vertical-align: top;
		.pad(2px);
		.bor(1px solid @colour_greyVL);
		.border-radius(5px);
		.box-sizing;
		background: @bg_body;
	}
	.featured_image img { .mar(0 0 20px); }
	.gallery_holder img { .w(30%); }
		.featured_image a:hover img,
		.gallery_holder a:hover img { background: @branding_primary; }

.custom_post_item {
	.mar(0 0 20px);
	.pad(0 0 20px);
	/*border-bottom: 3px dotted lighten(@colour_greyL, 15%);*/
	.borB(3px solid @colour_greyVL);
}
	.custom_post_item2 { .bor(none); .pad(0); }


.af_gallery { .TAC; }
.af_gallery_item {
	.DIB;
	.mar(0 1% 20px);
}
	.af_img_1 { .w(97%); }
	.af_img_2 { .w(47%); }
	.af_img_3 { .w(30%); }
	.af_img_4 { .w(22%); }
	.af_img_5 { .w(17%); }
	.af_img_6 { .w(14%); }
	.af_img_7 { .w(11%); }
	.af_img_8 { .w(10%); }
