header {
	background: none;
	.pad(30px 0);
}
	#logo {
		.w_100;
		.h_auto;
		.block;
		.mar(0);
	}
		#head_name {
			.block;
			.fs_56;
			.fw_100;
			.fc_primary;
		}
		#head_desc {
			.block;
			.fs_30;
			.fw_400;
			.fc_secondary;
		}

	#head_contact { .TAR; .f_robotoC; }
		#head_text, #head_phone, #head_email { .block; }
		#head_social, #head_phone_text, #head_phone_icon { .DIB; }
			#head_text {
				.fs_24;
				line-height: 26px;
				.marB(5px);
				.fc_secondary;
			}
				#head_text p { .mar(0); }

			#head_phone {
				.fs_50;
				.fw_300;
				/*.marB(5px);*/
				.fc_primary;
			}
				#head_phone a { .fw_300; }

				#head_social a i { .fc_primary; }
					#head_social a:hover i { .fc_primaryD; }

			#head_email {
				.fs_22;
				line-height: 26px;
				.marB(5px);
			}
				#head_email a:hover { .td_line; }

			#head_contact a { .td_none; }