/*----------------------------------------------------------------
	Media Queries
----------------------------------------------------------------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#head_social { display: block; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	h1 { font-size: 30px; line-height: 36px; }
	h2 { font-size: 28px; line-height: 34px; }
	h3 { font-size: 26px; line-height: 32px; }

	.gallery_holder img { width: 47% }
	.af_img_6, .af_img_7, .af_img_8 { width:17%; }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	body { .pad(0); .TAC; }
	.row { .marLR(0); }
	.container [class*="col-"] { .padLR(0); }
	.img-responsive { .DIB; }
	ul li { list-style: disc inside none; }
	.alignleft, .alignright, .aligncenter { float: none; margin: 0 auto; .block; }
	.bg_strike > span { .padLR(25px); }
	.mobile_clear { clear: both; }

	h1 { font-size: 28px; line-height: 34px; }
	h2 { font-size: 26px; line-height: 32px; }
	h3 { font-size: 24px; line-height: 30px; }

	.fs_18 { font-size: 16px; line-height: 24px; }
	.fs_20 { font-size: 17px; line-height: 25px; }
	.fs_22 { font-size: 18px; line-height: 26px; }
	.fs_24 { font-size: 20px; line-height: 28px; }
	.fs_28 { font-size: 24px; line-height: 30px; }
	.fs_30 { font-size: 26px; line-height: 32px; }
	.fs_32 { font-size: 28px; line-height: 36px; }
	.fs_36 { font-size: 32px; line-height: 40px; }
	.fs_40 { font-size: 34px; line-height: 42px; }
	.fs_44 { font-size: 36px; line-height: 44px; }
	.fs_48 { font-size: 38px; line-height: 46px; }
	.fs_52 { font-size: 40px; line-height: 48px; }
	.fs_56 { font-size: 42px; line-height: 50px; }
	.fs_60 { font-size: 44px; line-height: 52px; }
	.fs_68 { font-size: 48px; line-height: 56px; }

	.gallery_holder img { width:30% !important; }

	#head_contact { text-align: center; margin: 20px 0 0; }
	
	.container .home_gallery [class*="col-"] { .padLR(15px); }
	.home_gallery .row { .marLR(-15px); }

	footer h3 { margin: 30px 0 10px; }
	.footer_links li { margin: 0; }
	.af_img_5, .af_img_6, .af_img_7, .af_img_8 { width:22%; }
		.formHolder label.pullup { margin: 10px 0; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	body { .fs_16; }
	.container { .padLR(10px); }
	.bg_strike > span { .padLR(15px); }

	h1 { font-size: 24px; line-height: 30px; }
	h2 { font-size: 22px; line-height: 28px; }
	h3 { font-size: 20px; line-height: 26px; }
	h4 { font-size: 18px; line-height: 24px; }
	h5 { font-size: 16px; line-height: 22px; }
	h6 { font-size: 14px; line-height: 20px; }

	.fs_20 { font-size: 18px; line-height: 26px; }
	.fs_22 { font-size: 19px; line-height: 27px; }
	.fs_24 { font-size: 20px; line-height: 28px; }
	.fs_28 { font-size: 22px; line-height: 30px; }
	.fs_30 { font-size: 24px; line-height: 32px; }
	.fs_32 { font-size: 26px; line-height: 34px; }
	.fs_36 { font-size: 28px; line-height: 36px; }
	.fs_40 { font-size: 30px; line-height: 38px; }
	.fs_44 { font-size: 32px; line-height: 40px; }
	.fs_48 { font-size: 34px; line-height: 42px; }
	.fs_52 { font-size: 36px; line-height: 44px; }
	.fs_56 { font-size: 38px; line-height: 46px; }
	.fs_60 { font-size: 40px; line-height: 48px; }
	.fs_68 { font-size: 42px; line-height: 50px; }

	.gallery_holder img { width:47% !important; }
	.af_img_4, .af_img_5, .af_img_6, .af_img_7, .af_img_8 { width:30%; }
	
	#box_links [class*="col-xs-"] { width: 100%; }
	.home_gallery [class*="col-xs-"] { width: 100%; }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

	.container,
	.bg_strike > span { .padLR(5px); }
	.gallery_holder img { width:100% !important; .mar(0 0 20px); }
	.af_img_3, .af_img_4, .af_img_5, .af_img_6, .af_img_7, .af_img_8 { width:47%; }

}
