/*----------------------------------------------------------------
	Mixins
----------------------------------------------------------------*/

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	   -moz-box-sizing: @type;
		-ms-box-sizing: @type;
		 -o-box-sizing: @type;
			box-sizing: @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
		-ms-border-radius: @radius;
		 -o-border-radius: @radius;
			border-radius: @radius;
}

.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
	-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	   -moz-border-radius: @topleft @topright @bottomright @bottomleft;
		-ms-border-radius: @topleft @topright @bottomright @bottomleft;
		 -o-border-radius: @topleft @topright @bottomright @bottomleft;
			border-radius: @topleft @topright @bottomright @bottomleft;
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
	-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
	   -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
		-ms-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
		 -o-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
			box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

.box-shadow-none (@shadow: none) {
	-webkit-box-shadow: @shadow;
	   -moz-box-shadow: @shadow;
		-ms-box-shadow: @shadow;
		 -o-box-shadow: @shadow;
			box-shadow: @shadow;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: @opacity;
	   -moz-opacity: @opacity;
		-ms-opacity: @opacity;
		 -o-opacity: @opacity;
			opacity: @opacity;
}

.skew(@skew_x, @skew_y) {
	-webkit-transform: skew(@skew_x, @skew_y);
	   -moz-transform: skew(@skew_x, @skew_y);
		-ms-transform: skew(@skew_x, @skew_y);
		 -o-transform: skew(@skew_x, @skew_y);
			transform: skew(@skew_x, @skew_y);
}

.cover() {
    -webkit-background-size: cover;
       -moz-background-size: cover;
    	-ms-background-size: cover;
    	 -o-background-size: cover;
    		background-size: cover;
}

.calc (@expression) { 
	width: -webkit-calc(@expression);
	   width: -moz-calc(@expression);
		width: -ms-calc(@expression);
		 width: -o-calc(@expression);
			width: calc(@expression);
}

.calcH (@expression) { 
	height: -webkit-calc(@expression);
	   height: -moz-calc(@expression);
		height: -ms-calc(@expression);
		 height: -o-calc(@expression);
			height: calc(@expression);
}

.translate (@move_x: 10px, @move_y: 10px) {
	-webkit-transform: translate(@move_x, @move_y);
	   -moz-transform: translate(@move_x, @move_y);
		-ms-transform: translate(@move_x, @move_y);
		 -o-transform: translate(@move_x, @move_y);
			transform: translate(@move_x, @move_y);
}

.scale (@scale: 1) {
	-webkit-transform: scale(@scale);
	   -moz-transform: scale(@scale);
		-ms-transform: scale(@scale);
		 -o-transform: scale(@scale);
			transform: scale(@scale);
}

.translatescale (@move_x: 10px, @move_y: 10px, @scale: 1) {
	-webkit-transform: translate(@move_x, @move_y) scale(@scale);
	   -moz-transform: translate(@move_x, @move_y) scale(@scale);
		-ms-transform: translate(@move_x, @move_y) scale(@scale);
		 -o-transform: translate(@move_x, @move_y) scale(@scale);
			transform: translate(@move_x, @move_y) scale(@scale);
}

.transition (@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
		-ms-transition: @transition;
		 -o-transition: @transition;
			transition: @transition;
}

.transition2 (@transition2a, @transition2b) {
	-webkit-transition: @transition2a, @transition2b;
	   -moz-transition: @transition2a, @transition2b;
		-ms-transition: @transition2a, @transition2b;
		 -o-transition: @transition2a, @transition2b;
			transition: @transition2a, @transition2b;
}

.flex { 
	display: inline-block;
	display: -webkit-flex;
	   display: -moz-flex;
		display: -ms-flex;
		 display: -o-flex;
			display: flex;
}
.flex-shrink (@flexshrink) { 
	-webkit-flex-shrink: @flexshrink;
	   -moz-flex-shrink: @flexshrink;
		-ms-flex-shrink: @flexshrink;
		 -o-flex-shrink: @flexshrink;
			flex-shrink: @flexshrink;
}
.flex-grow (@flexgrow) { 
	-webkit-flex-grow: @flexgrow;
	   -moz-flex-grow: @flexgrow;
		-ms-flex-grow: @flexgrow;
		 -o-flex-grow: @flexgrow;
			flex-grow: @flexgrow;
}

.w (@width: 0) { width: @width; }
.h (@height: 0) { height: @height; }

.va (@vertical_align: 0) { vertical-align: @vertical_align; }

.mar (@mar: 0) { margin: @mar; }
.marT (@marTop: 0) { margin-top: @marTop; }
.marR (@marRight: 0) { margin-right: @marRight; }
.marB (@marBtm: 0) { margin-bottom: @marBtm; }
.marL (@marLeft: 0) { margin-left: @marLeft; }
.marTB (@marTopBtm: 0) { margin-top: @marTopBtm; margin-bottom: @marTopBtm; }
.marLR (@marLeftRight: 0) { margin-left: @marLeftRight; margin-right: @marLeftRight; }


.pad (@pad: 0) { padding: @pad; }
.padT (@padTop: 0) { padding-top: @padTop; }
.padR (@padRight: 0) { padding-right: @padRight; }
.padB (@padBtm: 0) { padding-bottom: @padBtm; }
.padL (@padLeft: 0) { padding-left: @padLeft; }
.padTB (@padTopBtm: 0) { padding-top: @padTopBtm; padding-bottom: @padTopBtm; }
.padLR (@padLeftRight: 0) { padding-left: @padLeftRight; padding-right: @padLeftRight; }


.bor (@bor: 0) { border: @bor; }
.borT (@borTop: 0) { border-top: @borTop; }
.borR (@borRight: 0) { border-right: @borRight; }
.borB (@borBtm: 0) { border-bottom: @borBtm; }
.borL (@borLeft: 0) { border-left: @borLeft; }
.borTB (@borTopBtm: 0) { border-top: @borTopBtm; border-bottom: @borTopBtm; }
.borLR (@borLeftRight: 0) { border-left: @borLeftRight; border-right: @borLeftRight; }