#navigation {
	background: @branding_primary;
}
	#navigation.nav_bottom_border {
		.borB(5px solid @branding_primary_dark);
	}

.nav_flex { .flex; }

	.nav_flex_menu { .flex-grow(1); .DIB; }
	.nav_flex_button { .flex-shrink(0); .DIB; .float_r; }
		/*.ie9 .nav_flex_menu,
		.ie9 .nav_flex_button { .DIB; }*/

.nav-collapse {
	.block;
	.w_auto;
}
	.nav-collapse .nav { .flex; .w_100; }
			.ie9 .nav-collapse .nav,
			.ie9 .nav-collapse .nav li { .DIB; }
		.nav-collapse .nav li {
			list-style: none;
			.mar(0);
			.DIB;
			.float_n;
		}
				.menu_full .nav-collapse .nav li { .flex-grow(1); }
				.menu_left .nav-collapse .nav li { .flex-grow(0); }
			.nav-collapse .nav li a { .borL(1px solid @branding_primary_dark); }
				.nav-collapse .nav li:last-child a { .borR(1px solid @branding_primary_dark); }
			.nav-collapse .nav li a,
			.btn_featured {
				.fc_white;
				.fs_20;
				.fw_400;
				background: none;
				.td_none;
				.TAC;
				.mar(0);
				.pad(15px 20px 14px);
				.border-radius(0px);
			}
				.nav-collapse .nav li a:hover,
				.nav-collapse .nav li a:focus,
				.nav-collapse .nav li.current-menu-item > a {
					background: @branding_primary_dark;
					border-color: @branding_primary_dark;
				}

				.btn_featured {
					.bor(none);
					.fw_700;
					background: @branding_secondary;
					.block;
					.w_auto;
					.marB(-5px);
				}
						.nav_bottom_border .btn_featured { .borB(5px solid @branding_secondary_dark); }
					.btn_featured:hover {
						.fc_white;
						.td_none;
						background: @branding_secondary_dark;
					}

.nav-collapse .nav .menu-item-has-children > a:hover + ul { .block; }
		.nav-collapse .nav ul:hover { .block; }
	.nav .caret { .none; }
	.dropdown-menu {
		.w_100;
		.mar(0);
		.pad(0);
		.bor(none);
		.border-radius(0px);
		background: @branding_primary;
	}
		.nav-collapse .nav .dropdown-menu li {
			.block;
			.mar(0);
		}
			.nav-collapse .nav .dropdown-menu li a {
				.TAL;
				.bor(1px solid @branding_primary_dark);
				.borT(none);
			}

		.nav-collapse .nav ul ul {
			.absolute;
			top: 0;
			left: 100%;
			min-width: 200px;
		}

		.nav-collapse .nav .menu-item-has-children > a:after {
			content: '\f0d7';
			font-family: 'FontAwesome';
			.relative;
			.fs_16;
			line-height: 10px;
		}
			.nav-collapse .nav ul .menu-item-has-children > a:after {
				content: '\f0da';
				font-family: 'FontAwesome';
				.absolute;
				top: 50%;
				right: 10px;
				bottom: auto;
				left: auto;
				.translate(0, -50%);
			}


.sidenav_icon {
	.none;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 699;
}
	.sidenav_icon i {
		.bor(2px solid @branding_secondaryL);
		.border-radius(5px);
		.fs_22;
		.pad(4px 10px);
		background: @colour_white;
		cursor: pointer;
		.opacity(0.6);
			&:hover {
				background: @branding_primary;
				border-color: @branding_primary_dark;
				.fc_white;
			}
	}

.sidenav_close {
	.none;
	.relative;
	.TAR;
	.padTB(5px);
}
	.sidenav_close i {
		.marR(10px);
		.bor(2px solid @branding_primary_dark);
		.border-radius(50%);
		.fs_22;
		.pad(0px 6px);
		background: none;
		.fc_primaryD;
		cursor: pointer;
			&:hover {
				background: @branding_primary_dark;
				.fc_primary;
			}
	}

#overlay {
	background: 0 0 rgba(0, 0, 0, 0.8);
	.none;
	.h_100;
	position: fixed;
	top: 0; left: 0;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	.w_100;
	z-index: 999;
}
	.nav-collapse .nav .menu-item-has-children > a > i { .none; }





@media only screen and (max-width : 1200px) {
	.nav-collapse .nav li a, .btn_featured { .fs_18; .pad(15px 15px 13px); }
}

@media only screen and (max-width : 991px) {
	.nav-collapse .nav li a, .btn_featured { .fs_16; .pad(14px 8px 12px); }
}

@media only screen and (max-width : 767px) {
	header { .padT(40px); .relative; }
	.sidenav_icon,
	.sidenav_close { .block; }
	#navigation {
		.h_100;
		.pad(0);
		position: fixed;
		top: 0;
		left: -400px;
		-moz-transition: all 0.2s linear 0s;
		-webkit-transition: all 0.2s linear 0s;
		-ms-transition: all 0.2s linear 0s;
		transition: all 0.2s linear 0s;
		.w(0);
		.bor(none);
	}
		#navigation.slide-in {
			left: 0;
			overflow-y: auto;
			max-width: 80%;
			.w(300px);
			z-index: 9999;
		}
			#navigation .container { .padLR(0); }

			.nav_flex { .block; }
			.nav_flex_menu { .block; }

		.nav-collapse,
		.nav-collapse.collapse,
		.nav-collapse.collapse.in {
			.block;
			.w_100;
			.h_auto;
			overflow: auto;
		}
				.nav-collapse .nav,
				.nav-collapse .nav li,
				.nav-collapse .nav li a { .block; }
				.nav-collapse .nav li:first-child { .mar(0); }
					.nav-collapse .nav { .float_n; }
						.nav-collapse .nav li { .mar(0); }
						.nav-collapse .nav li a,
						.nav-collapse .nav li:last-child a {
							.bor(1px solid @branding_primary_dark);
							.borT(none);
						}
						.nav-collapse .nav li a {
							.pad(10px);
							.TAL;							
						}
							.nav-collapse .nav li a:hover {}
							.nav-collapse .nav li.current_page_item a {}
		.nav-collapse .nav ul > li a { .padL(20px); }
			.nav-collapse .nav ul ul > li a { .padL(30px); .fw_300; }
				.nav-collapse .nav ul ul ul > li a { .padL(40px); .fw_100; }
					.nav-collapse .nav ul ul ul ul > li a { .padL(50px); }
						.nav-collapse .nav ul ul ul ul ul > li a { .padL(60px); }

				.nav-collapse .nav li.menu-item-has-children > a { .padR(60px); }
	.nav-collapse .nav ul.sub-menu,
	.nav-collapse .nav ul.dropdown-menu {
	    display: none;
	    box-shadow: none;
	}
	.nav-collapse .nav .menu-item-has-children > a:hover + ul {
		display: none;
	}
		.dropdown-menu {
			.float_n;
			.relative;
			top: auto;
			.TAC
			.mar(0);
			.box-shadow-none;
		}
	.nav-collapse .nav ul,
	.nav-collapse .nav ul ul {
		.block;
		.relative;
		top: auto;
		left: auto;
		min-width: 0;
	}
			/*.nav-collapse .nav .dropdown-menu li a { .TAC }*/

		.nav-collapse .nav .menu-item-has-children > a:after,
		.nav-collapse .nav ul .menu-item-has-children > a:after { content: ''; }

	.nav_flex_button {
		.block;
		.float_n;
	}
		.btn_featured {
			.relative;
			right: auto;
			top: auto;
			.block;
			.borT(none);
		}
	.nav-collapse .nav .menu-item-has-children > a > i {
		.block;
		.absolute;
		top: 0;
		bottom: auto;
		right: 0;
		left: auto;
		text-shadow: none;
		font-size: 12px;
		.fw_300;
		.translate(0, 0);
		.pad(10px 25px);
		.borL(1px solid @branding_primary_dark);
		line-height: 20px;
		.h_100;
	}

	.nav-collapse .nav li a:hover > i,
	.nav-collapse .nav li a:focus > i,
	.nav-collapse .nav li.current-menu-item > a > i {
		.borL(1px solid @branding_primary);
	}
}