/*----------------------------------------------------------------
	Sidebar
----------------------------------------------------------------*/

.sidebar_block { .marB(30px); }
	.sidebar_block h2 {
		.fc_white;
		.pad(10px 20px);
		.mar(0);
		.tt_none;
		background: @branding_primary;
		.borB(3px solid @branding_primary_dark);
		.tt_cap;
	}
	.sidebar_block_inner {
		background: lighten(@colour_greyL, 20%);
		.fs_18;
		.pad(15px 20px 5px);
		.fc_greyD;
		.fw_300;
	}
	.sidebar_block_inner h3 {
		.fw_400;
		.mar(0);
	}
	.sidebar_block_inner p { .mar(0 0 15px); }

	.sidebar_map iframe { .w_100; .h(180px); }
	
	.post_search {
		.padB(25px);
	}
		.post_search input,
		.post_search button {
			background: @bg_body;
			.bor(1px solid @branding_primary);
			.mar(0);
			.pad(5px 10px);
			.border-radius(0);
			.h(36px);
		}
		.post_search span {
			.block;
			overflow: hidden;
		}
			.post_search input {
				background: @bg_body;
				.w_100;
			}
		.post_search button {
			.float_r;
			.marL(10px);
			.fc_primaryD;
				&:hover { background: @branding_primary; .fc_white; }
				& i { vertical-align: text-top; }
		}