/*--------------------------------
	Custom Post Type Tabs
--------------------------------*/

.tabs {
	.marB(25px);
	.bor(1px solid @colour_greyVL);
	.border-radius(5px);
	overflow: hidden;
}




/*.tab_holder {
	background: darken(@colour_white, 5%);
	.mar(0 0 40px);
}*/
	.tab-pane {
		.pad(20px 25px);
	}
	.nav-tabs {
		.bor(none);
		background: lighten(@colour_greyL, 20%);
	}
	.nav-tabs > li {
		.mar(0);
	}
	.nav-tabs > li > a {
		.mar(0);
		.bor(none);
		.border-radius(0px);
		.fc_greyD;
		.pad(15px 20px);
		.fw_700;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover {
		background: @colour_greyVL;
		.bor(none);
		.fc_greyD;
	}


.tab-content {
}